# INTELIGENCIA ARTIFICIAL
## Tarea 1: implementacion de gradiente descendiente
### Hecho por: Juan Sebastián Clavijo Martínez
TEMA: Usar el dataset sobre finca raiz en taiwan para hacer una implementación de gradiente descendiente<br />
Fecha: 11-08-2024<br />
Notas: Nada por ahora<br />
**Pontificia Universidad Javeriana**

In [19]:
# Importado de bibliotecas pertinentes
# se usa el #type: ignore para que mi vscode genere warnings sobre la resolucion de dependencias de los pkts

import pandas as pd  # type: ignore # tratamiento de datos en un dataframe
import numpy as np  # type: ignore # numerical python
import seaborn as sns  # type: ignore # biblioteca versatil para estadistica y visualizacion
import matplotlib.pyplot as plt  # type: ignore # biblioteca para vizualizacion de datos
from ipywidgets import widgets, interactive, VBox #widgets interactivos de python
from IPython.display import display  # display interactivo

## Parte 1: preprocesamiento de datos

In [20]:
# Parte 1.1: carga de datos
# se trae el dataset, se puede ver en: https://github.com/tugrulhkarabulut/K-Means-Clustering/blob/master/example_datasets/Mall_Customers.csv
url = "https://raw.githubusercontent.com/tugrulhkarabulut/K-Means-Clustering/master/example_datasets/Mall_Customers.csv"
df_cust = pd.read_csv(url)
# se presentan los primeros 5 renglones
df_cust.head(5)

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [21]:
# Parte 1.2: limpieza y preparación de los datos (cuenta de datos null, etc. y limpieza)
desaparecidos = len(df_cust) - len(df_cust.dropna())
Cantidad = len(df_cust)
print("Cantidad de datos observados con datos NaN", desaparecidos)
print("Cantidad de datos duplicados", df_cust.duplicated().sum())
##se eliminan los datos Null y Duplicados
df_cust.dropna(inplace=True)
df_cust.drop_duplicates(inplace=True)
# Se reinicia el indice por los elementos eliminados
df_cust.reset_index(drop=True, inplace=True)

Cantidad de datos observados con datos NaN 0
Cantidad de datos duplicados 0

## Parte 2: implamentación de k-means

In [22]:
# Parte 2.1  Implementacion de k-means

# Menú desplegable para la gráfica de la derecha
x_dropdown = widgets.Dropdown(
    options=x_columns, value="house age", description="Eje X:"
)

NameError: name 'x_columns' is not defined